.solar-system {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 140px;
  right: 125px;
  z-index: 0;
  opacity: 0.7;

  .js-sun {
    position: absolute;
  }

  .react-planet {
    position: absolute;
    animation: orb 35s linear infinite;
  }

  .nextjs-planet {
    position: absolute;
    animation: orb 45s linear infinite;
  }

  .sass-planet {
    position: absolute;
    animation: orb 25s linear infinite;
  }

  .storybook-planet {
    position: absolute;
    animation: orb 5s linear infinite;
  }

  .styled-components-planet {
    position: absolute;
    animation: orb 14s linear infinite;
  }

  .figma-planet {
    position: absolute;
    animation: orb 60s linear infinite;
  }
}

@keyframes orb {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
