.main:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  opacity: 0.2;
  background: url(./assets/images/background/stars/stars-pattern.png) repeat 0 0/40%;

  @screen xl {
    opacity: 0.1;
    background: url(./assets/images/background/stars/stars-pattern.png) repeat 0 0/20%;
  }
}

.main {
  // XL
  position: relative;
  overflow: hidden;
  color: white;

  // XL
  @screen xl {
    background: radial-gradient(ellipse at top, rgb(10, 24, 49) 0%, #000000 100%);
  }
  background: linear-gradient(180deg, rgb(10, 24, 49), #000000);
}
